:root{
  --fg-light:#ff0000;
  --bg-body: #4b4f5e;
  --bs-secondary-bg:#222;
  --bs-primary-fg:#ff9900;
  --bg-widget:#3b3b3b;
  --bs-body-color:#dedede;
}

body {
  font-family: monospace;
  margin: 0;
  
  height: 100vh;
  background-color:var(--bg-body);
}

.navbar>.container-fluid {
  /* gap: 1em; */
} 

.disconnected-blur {
  pointer-events: none;
  opacity: .5;
  filter: blur(.5em);
}

#TermWidget.disabled, #NodeList.disabled, #Controls.disabled {
  filter:blur(.1em);
  opacity: .5;
  pointer-events:none;
}

fieldset > label {
  font-size:.9em;
}

header {
  padding: .5rem;
  background: #333;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: .5em .5em .5em #00000050;
}

#TermWidget {
  border-radius: var(--bs-border-radius);
  background: var(--bg-widget);
}

#TermWidget > div > div.viewPort {
  background: #111;
  color: rgb(109, 172, 109);
  padding: .5em;
  font-family: monospace;
  margin-bottom: 1em;
  font-size:.8em;
  border-radius: var(--bs-border-radius);
  overflow-y: auto;
  height:30vh;
  box-shadow: inset 0em 1em 1em #000;
}

#NodeList > div > ul {
  height:40vh;
  overflow-y:auto;
  list-style: none;
}

#NodeList > h5 {
  text-align: center;
  font-weight:bold;
  color:#fff;
  margin-bottom:1em;
}

h6{
  font-weight:bold;
  color:#dedede;
  margin-bottom:.9em;
}

h5{
  font-weight:bold;
  color:#fff;
  margin-bottom:.9em;
}

#Controls > div.row > div:nth-child(1) > h5 {
  text-align: left;
  font-weight:bold;
  color:#fff;
  margin-bottom:1em;
}

#NodeList > div > ul > li {
  vertical-align: baseline;
  cursor:pointer;
  border-radius: .5em;
  padding:.2em;
}

#NodeList > div > ul > li.selected > span.indicator{
   background: #1cdd7c;
}

#NodeList > div > ul > li > span.indicator {
  width: .5em;
  background: #424242;
  display: inline-block;
  height: 1em;
  border-radius: .5em;
  margin-right: .5em;
  margin-left:1em;
}


#NodeList > div > ul > li > span.name {
  display:inline-block;
  color:#dedede;
  font-size:.9em;
  vertical-align: text-bottom;
}

#NodeList > div > ul > li:hover {
  background-color: var(--bg-body);
  filter: brightness(120%);
}

#NodeList {
  border-radius: var(--bs-border-radius);
  background: var(--bg-widget);
  padding-top:1em;
}


#Controls {
  border-radius: var(--bs-border-radius);
  background:var(--bg-widget);
  padding:1em;
}

#TermWidget > div > input {
  background:#212529;
  color:#99ff99;
  border-color:#0000;
  
}

#TermWidget > div> input::placeholder {
  color:#909765
}

.btn-xs {
  --bs-btn-padding-y: 0.4rem;
  --bs-btn-padding-x: 0.4rem;
  --bs-btn-font-size: 0.8rem;
  font-weight:bold;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}

span.btnIndicator {
  width: .5em;
  background: #424242;
  display: inline-block;
  height: 1em;
  border-radius: .5em;
  margin-right: .5em;
  margin-left: .5em;
  vertical-align: text-top;
}

span.indicator-on{
   background: #1cdd7c;
}

span.swatch {
  min-width:2em;
  min-height:2em;
  display:inline-block;
  cursor:pointer;
  margin:.1em;
  border-radius: .25em;
}

span.swatch:hover {
  scale:1.2;
  box-shadow: 0em 0em 1.5em #000;
}

span.swatch:active {
  scale:.9;
  box-shadow: 0em 0em 1.5em #000;
}

.btn:active {
  box-shadow: 0em 0em 1.5em #000;
  scale:.95;
}